<style>
  .btn1{
      margin-right: 10px;
  }
  .center {
  width: 300px;
  border: 15px solid rgb(22, 23, 22);
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 33%;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  background-color: rgb(199, 193, 193);
  align-content: center;
}

h1{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
</style>

<h1> List of Books</h1>


<div class="center" *ngFor="let data of book">
<app-book-item [books]="data"></app-book-item>

<br/>
<button class="btn1" (click)="editButton(data.id)"> Edit </button>

<button (click)="deleteButton(data.id)"> Delete </button>

</div>

