<style>
  .btn1{
      margin-right: 10px;
      color: rgb(9, 4, 86);
      align-items: center;
  }
  .button{
  display: flex;
  justify-content: center;
}
  h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }



</style>

<h1> EXERCISE 3</h1>
<br/>
<div class="button">
<button  mat-raised-button color="primary" class="btn1" routerLink >Home</button>
<button mat-raised-button color="primary" class="btn1" routerLink = "/book" >To Book</button>
<button mat-raised-button color="primary" class="btn1" routerLink = "/blog" >To Blog</button>
<button mat-raised-button color="primary" class="btn1" routerLink = "/profile" >To User</button>
</div>
<router-outlet></router-outlet>

